<h1>User Info</h1>

<%= form_with model:@user, local:true do |f| %>
  <label for="inputName">Name</label>
  <%= f.text_field :name, autofocus: true %>
  <label for="inputImage">Image</label>
  <%= f.attachment_field :profile_image %>
  <label for="inputText">Introduction</label>
  <%= f.text_area :introduction, autofocus: true %>
  <%= f.submit "Update User" %>
<% end %>