<%= render 'shared/error_book', book: @book %>

<h1>Editing Book</h1>

<%= form_with model:@book, local:true do |f| %>
  <label for="inputTitle">Title</label>
  <%= f.text_field :title, autofocus: true %>
  <label for="inputOpinione">Opinion</label>
  <%= f.text_area :body, autofocus: true %>
  <%= f.submit "Update Book" %>
<% end %>

<p><%= link_to "Show", book_path(@book.id) %> | <%= link_to "Back", books_path %></p>