<div class="container">
  <div class="row">

      <div class="col-md-3">
        <%= render partial: 'shared/sidebar', locals: { user: @user, book: @newbook } %>
      </div>

      <div class="col-md-8 offset-md-1">
        <h1>Book detail</h1>
        <table class="table">
          <tbody>
              <tr>
                <td class="text-center">
                  <%= attachment_image_tag @user, :profile_image, :fill, 40, 40, format: 'jpeg', fallback: "no_image.jpg" %>
                  <br>
                  <%= link_to @user.name, user_path(@user.id) %>
                </td>
                <td class="align-middle"><%= link_to @book.title, book_path(@book.id) %></td>
                <td class="align-middle"><%= @book.body %></td>
                <td class="align-middle">
                  <div id="favorites_buttons_<%= @book.id %>">
                    <%= render partial: './favorites/favorite', locals: {book: @book} %>
                  </div>
                </td>
                <td class="align-middle"><%= "#{@book.book_comments.count} comment" %></td>

                <% if @user.id == current_user.id %>
                  <td><a class="btn btn-sm btn-success" href="/books/<%= @book.id %>/edit">Edit</a></td>
                  <td><a class="btn btn-sm btn-danger" data-confirm="Are you sure you'd like to delete?" href="/books/<%= @book.id %>" data-method="delete">Destroy</a></td>
                <% end %>
              </tr>
          </tbody>
        </table>

        <div class="comments">
          <p id="error_comment"><%= render 'shared/error_comment', book_comment: @book_comment %></p>
          <h3 class="mb-3 mt-2">Comments</h3>
          <div id="book_comments_list">
            <%= render partial: './book_comments/book_comment', locals: { book: @book} %>
          </div>
        </div>

        <div class="new-comnmet mt-4">
          <%= form_with model:[@book, @book_comment], remote: true do |f| %>
            <div class="form-group">
              <%= f.text_area :comment, size: "70x5", placeholder: "Put Your Comments Here", class:"form-control comment-content" %>
            </div>
            <div class="form-group">
            <%= f.submit "コメント送信", class:"btn btn-sm btn-success comment-btn" %>
            </div>
          <% end %>
        </div>

  　   </div>

  </div>
</div>


