<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
      <div class="header">
        <li>
          <%= link_to "Home", user_path(current_user.id) %>
        </li>
        <li>
          <%= link_to "Users", root_path %> <!--パス要変更-->
        </li>
        <li>
          <%= link_to "Books", root_path %> <!--パス要変更-->
        </li>
        <li>
          <%= link_to "logout", destroy_user_session_path, method: :delete %>
        </li>
      </div>

      <%= render 'shared/userinfo', user: @user %>
      <%= render 'shared/newbook', book: @book %>

    <% else %>
      <li>
        <%= link_to "Home", root_path %>
      </li>
      <li>
        <%= link_to "About", new_user_registration_path %> <!--パス要変更-->
      </li>
      <li>
        <%= link_to "sign up", new_user_registration_path %>
      </li>
      <li>
        <%= link_to "login", new_user_session_path %>
      </li>
    <% end %>
    <%= yield %>
  </body>
</html>
